.main {
    background: #f1f1f1;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.item {
    color: black;
    padding: 10px;
    width: 100px;
    text-align: center;
    background: white;
    flex: 1
}

.list-item {
    display: inline-flex;
}

table {
    min-width: 60%;
}

table td {
    box-shadow: 2px -2px 4px 1px black;
}

table th {
    box-shadow: 2px 0px 4px 1px black;
}

thead {
    background: rgb(71, 63, 63);
    padding: 10px;
}

table td {
    background: #ffff86;
    color: black;
}

table tr :hover {
    background: white;
    color: black;
}

table th,
td {
    padding: 10px;
}

.control-panel {
    background-color: white;
    padding: 20px;
}

.control-panel button {
    margin: 10px;
    background-color: royalblue;
    color: WHITE;
    cursor: pointer;
}

.control-panel input,
button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.title {
    color: black;
    padding: 10px;
}

@media screen and (max-width:720px) {
    table {
        width: -webkit-fill-available;
    }
}