.page-header {
    background: white 0% 0% no-repeat padding-box;
    color: black;
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: inline-flex;
    overflow: hidden;
    font-weight: 800;
    letter-spacing: 2px;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 30px;
    height: 30px;
    margin: 10px;
}