@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.App {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    text-align: center;
}